*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*rem unit of measurement = root emâ€, a unit of measurement that represents the font size of the root element (thank you https://www.sitepoint.com/understanding-and-using-rem-units-in-css/*/
/*html{
    background-color: #0c1618;
}*/
/*body{
    /*background: rgba(249, 98, 125, 10%);
    background: none;
}*/


/*THANK YOU FOR THE TUTORIAL CODINGLAB https://youtu.be/ps575maf37Y*/
nav{
    width: 100%;
    padding: 12px 0;
    background: #ecf0f3;
    box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
}

nav .menu{
    max-width: 1270px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .logo{
    display: flex;
    align-items: center;
    
}
/*this was so damn annoying^*/
.menu .logo img{
    width: 10%;
    aspect-ratio: square;
    object-fit:contain;
    /*mix-blend-mode: color-burn;*/
    border-radius: 25%;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    
}
.menu .logo img:hover:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ceced1;
    border-radius: 25px;
}
.menu .logo img:hover{
    box-shadow: none;
    color: none;
}


.menu .logo a{
    padding: 0;
    margin: 0 8px;
    font-size: 28px;
    font-weight: 600;
    padding: 10px 12px;
    text-decoration: none;
    color: #31344b;
    box-shadow: -3px -3px 7px #ffffff,
    3px 3px 5px #ceced1;
    position: relative;
    transition: all 0.3s ease;
    border-radius: 25px;
}

.menu .logo a:hover:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ceced1;
    border-radius: 25px;
}
.menu .logo a:hover{
    box-shadow: none;
    color: #e63946;
}

.menu ul{
    list-style: none;
    display: flex;
    
}

.menu ul a{
    margin: 0 8px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 400;
    display: inline-flex;
    padding: 10px 12px;
    box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
    position: relative;
    transition: all 0.3s ease;
    border-radius: 25px;
}

.menu ul a:hover:before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ceced1;
    border-radius: 25px;
}

.menu ul a:hover{
    color: #00635D;
    box-shadow: none;
}

nav label.button{
    color: #31344b;
    font-size: 18px;
    cursor: pointer;
    display: none;
}

nav label.cancel{
    position: absolute;
    top: 25px;
    right: 30px;
    /*display:flex;*/
}

#check{
    display: none;
}


/*@media is a rule for */
@media (max-width:940px){
    .menu ul{
        display: block;
        position: fixed;
        top: 0;
        left: 100%; /*make this 100% after you find the hamburger icon - Import it*/
        width: 100%;
        max-width: 400px;
        padding-top: 45px;
        height: 100%;
        background: #ecf0f3;
        box-shadow: 0 5px 10px #b0b0b5;
        z-index: 12;
        /*z index is */
        transition: all 0.3s ease;
}
    .menu ul a{
        display: block;
        /*makes a long horizontal block*/
        font-size: 23px;
        width: 100%;
        margin-top: 30px;
        box-shadow: none;
        text-align: center;
        max-width: 90%;
        
}
.menu ul a:hover:before{
    box-shadow: none;    
}
nav label.burger{
    display: block;
}
#check:checked ~ label.burger{
    display: none;
}
#check:checked ~ ul label.cancel{
    display: block;

}

#check:checked ~ ul{
    left: 0;
}
}
/*trying to learn responsive design as I learn the rest so that I can stay current and future proof. yay mobile ...*/

/*ABOVE IS THE NAVBAR ONLY ---- below will be the content*/

main{
    min-height: 100vh;
    background: #d1d9e6;
    /*background: linear-gradient(to right top, #bdd2d6, #ecf0f3);*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.glass{
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
    );
    box-shadow: inset -3px -3px 10px rgba(255, 255, 255, 0.9),
                inset 3px 3px 8px #ceced1;
    border-radius: 25px;
    z-index: 2;
    backdrop-filter: blur(2rem);

}
/*h1{
    margin-top: 40rem;
    text-align: center;
    font-size: 50px;
    color: black;
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin-block:0 auto;
    letter-spacing: 0.15em;
    animation: 
        typing 3.5s steps(50, end),
        blink-caret 0.5s step-end infinite;

}*/
/*keyframe area*/

h1{
    position: relative;
    top: 50px;  
    width: 100%;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 50px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.anim-typewriter{
  animation: typewriter 2.8s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(58) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 58%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
  50%{border-color: #31344b;}
}
/* The typing effect */
/*@keyframes typing {
    from { width: 0 }
    to { width: 24em }
  }
  
  /* The typewriter cursor effect */
  /*@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }*/
/*keyframe is "animation is created by gradually changing from one set of CSS styles to another"(thanks https://www.w3schools.com/cssref/css3_pr_animation-keyframes.php)*/






/*.circle1,
.circle2{
    background: white;
    background: linear-gradient(to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.1)
    );
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 25%;
    position: absolute;
}
.circle1{
    top: 30%;
    right: 15%;

}
.circle2{
    bottom: 5%;
    left: 10%;
}*/

/*BELOW IS MY STICKY NAVBAR + JAVASCRIPT
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 60px;
}
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_navbar_sticky ----I'll try again later----*/



/*BODY !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! BELOW*/
h2{
    text-align: center;
    margin-top: 2rem;
    padding: auto;
    font-weight: lighter;
}
.container{
    height:auto;
    width: 100%;
    background: none;
    text-align: center;

      
}
.container > button{
    padding: 15px;
    margin: 15px;
    width: 40%;
    font-size: 1.5rem;
    background: #ebeef1;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    color: #03b5aa;
    box-shadow: -3px -3px 7px #ffffff,
                3px 3px 5px #ceced1;
}
.container > button:hover::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ceced1;
    border-radius: 25px;

}
.container button:hover{
    color: #00635D;
    box-shadow: none;
}
.container button:hover::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset -3px -3px 7px #ffffff,
                inset 3px 3px 5px #ceced1;
    border-radius: 25px;
}